.fondo {
    background-color: #6976eb;
    padding: 20px;
  }
  
  .forma {
    width: 100%;
    background-color: #698ed2;
    border-radius: 5px;
    border: 1px solid #4675b2;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .favorito-editar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .favorito {
    color: #ffd700;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .favorito:hover {
    color: #ffdf00;
  }
  
  .editar {
    background-color: #92c5fc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nombeca {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .texto {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .textol {
    font-size: 20px;
    text-decoration: underline;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .pencil-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .pencil-icon {
    font-size: 20px;
  }
  
  .nuevabeca {
    background-color: #2925e6;
    color: #FFF;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

  }
  
  .nuevabeca:hover {
    background-color: #183eeb;
  }
  .titulo{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #001aff;
    text-shadow: 2px 2px 4px rgba(26, 3, 53, 0.39);
    margin-bottom: 20px;
    border: 1px solid rgb(29, 118, 235);
    background-color: #75b5c591;
    margin-top: 25px;
    }
  
  /* .checkbox-row input[type="checkbox"] {
    display: none;
    
  } 
  
  .checkbox-row label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    margin-top: 40px;
    cursor: pointer;
  }
  
  .checkbox-row label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 1px;
    background-color: #fff;
  }
  
  .checkbox-row input[type="checkbox"]:checked + label:before {
    background-color: #337ab7;
    border-color: #337ab7;
  }
  
  .checkbox-row label:after {
    content: "";
    display: none;
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-row input[type="checkbox"]:checked + label:after {
    display: block;
  }*/
  
  /* estilobecas.css */

.btn-filtrar {
  background-color: #1013df;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.btn-filtrar:hover {
  text-decoration: underline;
  background-color: #3750dd;
}


.link-filtros {
  background-color: #1518e0;
  color: #428bca;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.link-filtros:hover {
  text-decoration: underline;
  background-color: #3750dd;
}
