.forma {
  width: 99%;
  background-color: #86b5eb;
  border-radius: 10px;
  border: 1px solid #5130e7;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.tipoB {
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.text {
  color: #303030;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.textol {
  color: #0300aa;
  text-decoration: none;
  text-decoration: underline;
}

.textol:hover {
  text-decoration: underline;
}
.fondo {
  background-color: #49a9f7c5;
  padding: 20px;
}
.titulo{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #001aff;
  text-shadow: 2px 2px 4px rgba(26, 3, 53, 0.39);
  margin-bottom: 20px;
  border: 1px solid rgb(29, 118, 235);
  background-color: #75b5c591;
  }

  .regreso {
    background-color: #8207d4;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin-left: 15px;
    margin-top: 50px;
  }
  
  .regreso:hover {
    background-color: #aa37c7;
    text-decoration: underline;
  }

 
  